<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>欢迎页面-X-admin2.0</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" th:href="@{/css/font.css}">
<link rel="stylesheet" th:href="@{/css/xadmin.css}">
<script type="text/javascript" th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>

<body>
	<div class="x-body">
		<form class="layui-form" action="/notice/saveNotice" 
			method="post">
			<div class="layui-form-item">
			<label for="phone" class="layui-form-label"> <span
					class="x-red">*</span>消息类型
				</label>
				<div class="layui-input-inline">
					<select name="type" lay-verify="required">
		               <option value=""></option>
					   <option value="部门通知">部门通知</option>
					   <option value="会议通知">会议通知</option>
					   <option value="放假通知">放假通知</option>
					   <option value="升级日志">升级日志</option>
					   <option value="技术支持">技术支持</option>
            		</select>
				</div>
				
			</div>
			<div class="layui-form-item">
				<label for="phone" class="layui-form-label"> <span
					class="x-red">*</span>标题
				</label>
				<div class="layui-input-inline">
					<input type="text" id="phone" name="title" required=""
						lay-verify="required" autocomplete="off" class="layui-input" value="">
				</div>
			</div>
			<div class="layui-form-item">
				<label for="L_email" class="layui-form-label"> <span
					class="x-red">*</span>内容
				</label>
				<div class="layui-input-inline">
					<textarea type="text" id="L_email" name="content" required=""
						lay-verify="required" autocomplete="off" class="layui-textarea"  value=""></textarea>
				</div>
			</div>
			<div class="layui-row">
					<button class="layui-btn" lay-filter="add" lay-submit="">发送</button>
				
					<label for="L_repass" class="layui-form-label"> </label>
					<button class="layui-btn" lay-filter="drafts" lay-submit="">草稿箱</button>
				
			</div>
		</form>
	</div>
	<script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
        
          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          //监听提交
          form.on('submit(add)', function(data){
            $.ajax({
            	url: data.form.action,
                type: data.form.method,
                data: $(data.form).serialize(),
         		  success:function(){
         			 layer.alert("发送成功", {icon: 6},function () {
                         // 获得frame索引
                         var index = parent.layer.getFrameIndex(window.name);
                         //关闭当前frame
                         parent.layer.close(index);
                         parent.location.href='/notice';
                     });
         		  }
         	  });
            return false;
          });
        });
        
    </script>
</body>

</html>