<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.DeptMapper">
	
	<resultMap type="Dept" id="DRM" autoMapping="true">
		<id column="ID" property="ID"/>
		<association property="pDept" javaType="Dept">
			<id column="p_ID" property="ID"/>
			<result column="p_name" property="name" />
		</association>
	</resultMap>
	
	<select id="deptTree" resultMap="DRM">
		select * from dept
	</select>
	
	<insert id="saveDept" parameterType="Dept" useGeneratedKeys="true" keyProperty="ID">
		insert into dept(name,pId,create_by,create_time) values(
			#{name},
			#{pId},
			#{createBy},
			#{createTime}
		)
	</insert>
	
	<select id="deptList" resultMap="DRM">
		select * from dept 
		left join (SELECT ID p_id,name p_name FROM dept)p_d ON 
		dept.pId=p_d.p_id
		<where>
			<if test="start!=null and start!=''">
				DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[>= ]]> #{start} 
			</if>
			<if test="end!=null and end!=''">
				and DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[<= ]]> #{end} 
			</if>
			<if test="deptName!=null and deptName!=''">
				and name like concat(concat('%',#{deptName}),'%') 
			</if>
		</where>
	</select>
	
	<!-- 批量删除 -->
	<delete id="delAll">
		delete from dept  where ID in(
		<foreach collection="ids" item="id" separator=",">
			#{id}
		</foreach>)
	</delete>
	
	<select id="selectDeptById" resultMap="DRM">
		select * from dept 
		left join (SELECT ID p_id,name p_name FROM dept)p_d ON 
		dept.pId=p_d.p_id 
		where ID=#{id}
	</select>
	
</mapper>