<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.DeptMapper">
	
	<resultMap type="Dept" id="DRM" autoMapping="true">
		<id column="id" property="id"/>
	</resultMap>
	<select id="deptTree" resultMap="DRM">
		select * from dept
	</select>
	
	<insert id="andDept" parameterType="Dept" useGeneratedKeys="true" keyProperty="id">
		insert into dept(name,pId) values(
			#{name},
			#{pId}
		)
	</insert>
	
</mapper>