<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>欢迎页面-X-admin2.0</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" th:href="@{/css/font.css}">
<link rel="stylesheet" th:href="@{/css/xadmin.css}">
<script type="text/javascript" th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/moment.js}"></script>
<script type="text/javascript" th:src="@{/lib/layui/layui.js}"
	charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>

<body>
	<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">演示</a>
			<a> <cite>导航元素</cite></a>
		</span> <a class="layui-btn layui-btn-small"
			style="line-height: 1.6em; margin-top: 3px; float: right"
			href="javascript:location.replace(location.href);" title="刷新"> <i
			class="layui-icon" style="line-height: 30px">ဂ</i></a>
	</div>
	<div class="x-body">
		<div class="layui-row">
			<form class="layui-form layui-col-md12 x-so" id="roleId"
				action="rolelist">
				<input class="layui-input" placeholder="开始日" autocomplete="off" name="start" id="start"
					th:value="${start}"> <input class="layui-input"
					placeholder="截止日" autocomplete="off" name="end" id="end" th:value="${end}"> <input
					type="text" name="name" placeholder="请输入角色名" autocomplete="off"
					class="layui-input" th:value="${name}">
				<button class="layui-btn" lay-submit="" lay-filter="sreach">
					<i class="layui-icon">&#xe615;</i>
				</button>
			</form>
		</div>
		<xblock>
		<button class="layui-btn layui-btn-danger"
			onclick="delAll('role/delAll')">
			<i class="layui-icon"></i>批量删除
		</button>
		<button class="layui-btn" onclick="x_admin_show('添加角色','addRole','800','600')">
			<i class="layui-icon"></i>添加
		</button>
		<span class="x-right" style="line-height: 40px">共有数据：
			<td th:text="${pageInfo.total}"></td> 条
		</span> </xblock>
		<table class="layui-table">
			<thead>
				<tr>
					<th>
						<div class="layui-unselect header layui-form-checkbox"
							lay-skin="primary">
							<i class="layui-icon">&#xe605;</i>
						</div>
					</th>
					<th>ID</th>
					<th>角色名</th>
					<th>拥有权限规则</th>
					<th>描述</th>
					<th>创建时间</th>
					<th>状态</th>
					<th>操作</th>
			</thead>
			<tbody>
				<tr th:each="role:${pageInfo.list}">
					<td>
						<div class="layui-unselect layui-form-checkbox" lay-skin="primary"
							th:data-id="${role.ID}">
							<i class="layui-icon">&#xe605;</i>
						</div>
					</td>
					<td th:text="${role.ID}"></td>
					<td th:text="${role.name}"></td>
					<td th:text="${role.roleRule}"></td>
					<td th:text="${role.remarks}"></td>
					<td th:text="${#dates.format(role.createTime, 'yyyy-MM-dd')}"></td>
					<td class="td-status">
						<p th:if="${role.status==0}">
							<span class="layui-btn layui-btn-normal layui-btn-mini"
								th:id="${role.ID}"
								th:onclick="'javascript:statusFun('+${role.ID}+','+'\'role/selectStatusById\''+','+'\'role/upodateStatus\''+')'">已启用</span>
						</p>
						<p th:if="${role.status==1}">
							<span
								class="layui-btn layui-btn-normal layui-btn-mini layui-bg-red"
								th:id="${role.ID}"
								th:onclick="'javascript:statusFun('+${role.ID}+','+'\'role/selectStatusById\''+','+'\'role/upodateStatus\''+')'">未启用</span>
						</p>
					</td>
					<td class="td-manage">
						<!--  <a onclick="member_stop(this,'10001')" href="javascript:;"  title="启用">
                <i class="layui-icon">&#xe601;</i>
              </a> --> <a title="编辑"
						th:onclick="'javascript:x_admin_show('+'\'编辑\''+','+'\''+'editRole?id='+${role.ID }+'\''+','+'800'+','+'600'+')'"
						href="javascript:;"> <i class="layui-icon">&#xe642;</i>
					</a> <a title="删除"
						th:onclick="'javascript:member_del('+this+','+${role.ID}+','+'\'role/del\''+')'"
						href="javascript:;"> <i class="layui-icon">&#xe640;</i>
					</a> <a title="权限"
						th:onclick="'javascript:x_admin_show('+'\'角色权限\''+','+'\''+'role/addRoleModule?id='+${role.ID }+'\''+')'"
						href="javascript:;"> <i class="layui-icon">&#xe654;</i>
					</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="page">
			<div>

				<a th:if="${pageInfo.isFirstPage==true}">首页</a> 
				<a th:if="${pageInfo.isFirstPage==false}"
					th:href="@{roleList(page=${pageInfo.firstPage },start=${start},end=${end},name=${name})}">首页</a>
				<a th:if="${pageInfo.hasPreviousPage==true}"
					th:href="@{roleList(page=${pageInfo.prePage },start=${start},end=${end},name=${name})}">上一页</a>
				<a th:if="${pageInfo.hasPreviousPage==false}">上一页</a> 
				<a th:if="${pageInfo.hasNextPage==true}"
					th:href="@{roleList(page=${pageInfo.nextPage },start=${start},end=${end},name=${name})}">下一页</a>
				<a th:if="${pageInfo.hasNextPage==false}">下一页</a> 
				<a th:if="${pageInfo.isLastPage==true}">末页</a> 
				<a th:if="${pageInfo.isLastPage==false}"
					th:href="@{roleList(page=${pageInfo.lastPage},start=${start},end=${end},name=${name})}">末页</a>

			</div>
		</div>

	</div>
	<script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });
	
    </script>
	<script type="text/javascript" th:src="@{/js/core.js}"></script>
</body>

</html>