<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>欢迎页面-X-admin2.0</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="../../css/font.css">
<link rel="stylesheet" href="../css/xadmin.css">
<script type="text/javascript"
	src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../../lib/layui/layui.js"
	charset="utf-8"></script>
<script type="text/javascript" src="../../js/xadmin.js"></script>
</head>

<body>
	<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">演示</a>
			<a> <cite>导航元素88</cite></a>
		</span> <a class="layui-btn layui-btn-small"
			style="line-height: 1.6em; margin-top: 3px; float: right"
			href="javascript:location.replace(location.href);" title="刷新"> <i
			class="layui-icon" style="line-height: 30px">ဂ</i></a>
	</div>
	<div class="x-body">
		<div class="layui-row">
			<form class="layui-form layui-col-md12 x-so layui-form-pane">
				<input class="layui-input" placeholder="开始日" name="start" id="start"
					th:value="${start}"> <input class="layui-input"
					placeholder="截止日" name="end" id="end" th:value="${end}"> <input
					class="layui-input" placeholder="部门名称" name="name"
					th:value="${name}">
				<button class="layui-btn" lay-submit="" lay-filter="sreach">
					<i class="layui-icon">&#xe615;</i>
				</button>
			</form>
		</div>
		<xblock>
		<button class="layui-btn layui-btn-danger" onclick="delAll()">
			<i class="layui-icon"> </i>批量删除
		</button>
		<button class="layui-btn" onclick="x_admin_show('添加模块','addDept')">
			<i class="layui-icon"></i>添加
		</button>
		<span class="x-right" style="line-height: 40px">共有数据：
			<td th:text="${pageInfo.total}"></td> 条
		</span> </xblock>
		<table class="layui-table">
			<thead>
				<tr>
					<th>
						<div class="layui-unselect header layui-form-checkbox"
							lay-skin="primary">
							<i class="layui-icon">&#xe605;</i>
						</div>
					</th>
					<th>ID</th>
					<th>部门名称</th>
					<th>上级部门</th>
					<th>创建时间</th>
					<th>操作</th>
			</thead>
			<tbody>
				<tr th:each="dept:${pageInfo.list}">
					<td>
						<div class="layui-unselect layui-form-checkbox" lay-skin="primary"
							th:data-id="${dept.ID}">
							<i class="layui-icon">&#xe605;</i>
						</div>
					</td>
					<td th:text="${dept.ID}"></td>
					<td th:text="${dept.name}"></td>
					<td th:text="${dept.pDept.name}"></td>
					<td th:text="${#dates.format(dept.createTime, 'yyyy-MM-dd')}"></td>
					<td class="td-manage"><a title="编辑"
						th:onclick="'javascript:x_admin_show('+'\'编辑\''+','+'\''+'/deptManage/editDept?id='+${dept.ID }+'\''+')'"
						href="javascript:;"> <i class="layui-icon">&#xe642;</i>
					</a> <a title="删除"
						th:onclick="'javascript:member_del('+this+','+${dept.ID}+')'"
						href="javascript:;"> <i class="layui-icon">&#xe640;</i>
					</a></td>
				</tr>
			</tbody>
		</table>
		<div class="page">
			<div>

				<a th:if="${pageInfo.isFirstPage==true}">首页</a> <a
					th:if="${pageInfo.isFirstPage==false}"
					th:href="@{list(page=${pageInfo.firstPage },name=${name},start=${start},end=${end})}">首页</a>
				<a th:if="${pageInfo.hasPreviousPage==true}"
					th:href="@{deptlist(page=${pageInfo.prePage },name=${name},start=${start},end=${end})}">上一页</a>
				<a th:if="${pageInfo.hasPreviousPage==false}">上一页</a> <a
					th:if="${pageInfo.hasNextPage==true}"
					th:href="@{deptlist(page=${pageInfo.nextPage },name=${name},start=${start},end=${end})}">下一页</a>
				<a th:if="${pageInfo.hasNextPage==false}">下一页</a> <a
					th:if="${pageInfo.isLastPage==true}">末页</a> <a
					th:if="${pageInfo.isLastPage==false}"
					th:href="@{deptlist(page=${pageInfo.lastPage},name=${name},start=${start},end=${end})}">末页</a>

			</div>
		</div>

	</div>
	<script>
	
	var socket;  
    if(typeof(WebSocket) == "undefined") {  
        console.log("您的浏览器不支持WebSocket");  
    }else{  
        console.log("您的浏览器支持WebSocket");  
        //console.log("${basePath}demosocket/${cid}".replace("http","ws"));  
            //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接  
            //等同于
            socket = new WebSocket("ws://localhost:8081/websocket/20");  
            //socket = new WebSocket("${basePath}demosocket/${cid}".replace("http","ws"));  
            //打开事件  
            socket.onopen = function() {  
                console.log("Socket 已打开");  
                //socket.send("这是来自客户端的消息" + location.href + new Date());  
            };  
            //获得消息事件  
            socket.onmessage = function(msg) {  
                console.log(msg.data);  
                alert("666")
                //发现消息进入    开始处理前端触发逻辑
            };  
            //关闭事件  
            socket.onclose = function() {  
                console.log("Socket已关闭");  
            };  
            //发生了错误事件  
            socket.onerror = function() {  
                alert("Socket发生了错误");  
                //此时可以尝试刷新页面
            }  
            //离开页面时，关闭socket
            //jquery1.8中已经被废弃，3.0中已经移除
            // $(window).unload(function(){  
            //     socket.close();  
            //});  
    }
	
		layui.use('laydate', function() {
			var laydate = layui.laydate;

			//执行一个laydate实例
			laydate.render({
				elem : '#start' //指定元素
			});

			//执行一个laydate实例
			laydate.render({
				elem : '#end' //指定元素
			});
		});

		/*用户-删除*/
		function member_del(obj, id) {
			layer.confirm('确认要删除吗？', function(index) {
				$.ajax({
					url : "/deptManage/del",
					data : {
						"data" : id
					},
					success : function() {
						$(obj).parents("tr").remove();
						layer.msg('已删除!', {
							icon : 1,
							time : 1000
						});
					}
				});
			});
		}

		function delAll(argument) {

			var data = tableCheck.getData();
			if (data == '' || data == null) {
				layer.msg('请选择要删除的数据', {
					icon : 7
				});
				return;
			}
			layer.confirm('确认要删除吗？' + data, function(index) {

				$.ajax({
					url : "/deptManage/delAll",
					data : {
						"data" : data.join(',')
					},
					success : function() {
						layer.msg('删除成功', {
							icon : 1
						});
						$(".layui-form-checked").not('.header').parents('tr')
								.remove();
					}
				});

			});
		}
		
	
	    
	</script>
</body>

</html>