<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workPlatfrom.mapper.LogManageMapper">

	<resultMap type="WorkLog" id="WLRM">
		<id column="ID" property="ID" />
	</resultMap>

	<!-- 查询所有 -->
	<select id="selectWorkLogAll" resultMap="WLRM">
		select * from pm_workLog where state <![CDATA[!= ]]> 1 and userId = #{userid}
	</select>

	<!-- 添加日志 -->
	<insert id="andWorkLog">
		insert into
		pm_workLog(name,logType,submitter,userid,createBy,createTime) values(
		#{name},
		#{logType},
		#{submitter},
		#{userid}
		#{createBy},
		#{createTime}
		)
	</insert>

	<!-- 搜索查询 -->
	<select id="selectWorkLogBySearch" resultMap="WLRM">
		select * from pm_workLog where state <![CDATA[!=]]>
		1
		<if test="time!=null and time!=''">
			and DATE_FORMAT(createTime,'%Y-%m-%d') = #{time}
		</if>
		<if test="logType!=null and logType!=''">
			and logType = #{logType}
		</if>
		<if test="submitState!=null and submitState!=''">
			and submitState = #{submitState}
		</if>
	</select>

	<!-- 伪删除 -->
	<update id="deleteWorkLog">
		update pm_workLog set state = 1 where ID in(
		<foreach collection="ids" item="id" separator=",">
			#{id}
		</foreach>
		)
	</update>

	<select id="selectWorkLogByID" resultMap="WLRM">
		select * from
		pm_workLog where ID = #{id}
	</select>
	
	<!-- 待审核 -->
	<select id="selectToAuditWorkLogAll" resultMap="WLRM">
		select * from pm_workLog where state <![CDATA[!= ]]> 1 and userId = #{userId} and submitState = #{submitState} 
	</select>

</mapper>