<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workPlatfrom.mapper.PublicityManageMapper">

<!-- ooooooooooooooooooooooooooooooooooooooooooooooooooooooo文章栏目oooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
	<resultMap type="ArticleSection" id="ASRM" autoMapping="true">
		<id column="ID" property="ID" />

		<association property="articleSection" javaType="ArticleSection">
			<id column="p_ID" property="ID" />
			<result column="p_name" property="name" />
		</association>
	</resultMap>

	<!-- 查询所有一级栏目 -->
	<select id="selectArticleSectionOneAll" resultMap="ASRM">
		select * from pm_articleSection
		where and state <![CDATA[!= ]]> 1
	</select>
	
	<!-- 查询所有一级栏目 -->
	<select id="selectArticleSectionAll" resultMap="ASRM">
		select * from pm_articleSection
		where state <![CDATA[!= ]]> 1
	</select>

	<!-- 添加栏目 -->
	<insert id="andArticleSection">
		insert into
		pm_articleSection(name,parent_ID,createBy,createTime) values (
		#{name},
		#{articleSection.ID},
		#{createBy},
		#{createTime}
		)
	</insert>

	<!-- 根据时间 or 标题 or createBy搜索 -->
	<select id="selectArticleSectionBy" resultMap="ASRM">

		select * from pm_articleSection where state <![CDATA[!= ]]>
		1

		<if test="time!=null and time!=''">
			and DATE_FORMAT(createTime,'%Y-%m-%d') = #{time}
		</if>
		<if test="content!=null and content !=''">
			and name like CONCAT('%',#{content},'%') or createBy like
			CONCAT('%',#{content},'%')
		</if>
		order by createTime DESC
	</select>
	<!-- 删除栏目 -->
	<delete id="deleteArticleSection">
		DELETE from pm_articleSection where ID in(
		<foreach collection="ids" item="id" separator=",">
			#{id}
		</foreach>
		)
	</delete>
	
	<select id="selectArticleSectionByID" resultMap="ASRM">
		select * from pm_articleSection where ID = #{ID} and state <![CDATA[!= ]]> 1 
	</select>

	<!-- 更新文章栏目 -->
	<update id="updateArticleSection">
		update pm_articleSection set name=#{name},parent_ID = #{articleSection.ID},updateBy =#{updateBy},updateTime = #{updateTime} where ID = #{ID}
	</update>
	
	<!-- ooooooooooooooooooooooooooooooooooooooooooooooooooooooo文章ooooooooooooooooooooooooooooooooooooooooooo -->
	
	<resultMap type="Article" id="ARM" autoMapping="true">
		<id column="ID" property="ID" />
		<!-- <result column="articleSection_id" property="articleSectionId"/> -->
	</resultMap>

	<!-- 查询所有文章 -->
	<select id="selectArticleAll" resultMap="ARM">
		select * from pm_article
		where state <![CDATA[!= ]]> 1
		<if test="articleSectionId != null and articleSectionId !=''">
			and articleSection_id = #{articleSectionId} 
		</if>
	</select>
	
	<!-- 添加文章 -->
	<insert id="andArticle">
		insert into pm_article(name,imgUrl,articleSection_id,createBy,createTime) values(
			#{name},
			#{imgUrl},
			#{articleSectionId},
			#{createBy},
			#{createTime}
		)
	</insert>
	<!-- 根据栏目搜文章 -->
	<select id="selectArticleByArticleSection"  resultMap="ARM">
		select * from pm_article where articleSection_id = #{articleSectionId} and state <![CDATA[!= ]]> 1
	</select>
	
	<select id="selectArticleBySeach" resultMap="ARM">
		select *  from pm_article where state  <![CDATA[!= ]]> 1 
			<if test="time!=null and time!=''">
				and DATE_FORMAT(createTime,'%Y-%m-%d') = #{time} 
			</if>
			<if test="content!=null and content !=''">
				and name like CONCAT('%',#{content},'%') 
			</if>
			<if test="articleSectionId!=null and articleSectionId!=''">
				and articleSection_id = #{articleSectionId}
			</if>
	</select>
	
	<!-- 删除栏目 -->
	<delete id="deleteArticle">
		DELETE from pm_article where ID in(
		<foreach collection="ids" item="id" separator=",">
			#{id}
		</foreach>
		)
	</delete>
	
	<select id="selectArticleByID" resultMap="ARM">
		select * from pm_article where ID = #{ID} and state <![CDATA[!= ]]> 1 
	</select>
	
	<!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooo轮播图ooooooooooooooooooooooooooo -->
	
	<resultMap type="Viewpager" id="VRM" autoMapping="true">
		<id column="ID" property="ID" />
		<!-- <result column="articleSection_id" property="articleSectionId"/> -->
	</resultMap>
	
	<!-- 查询所有轮播图 -->
	<select id="selectViewpager" resultMap="VRM">
		select * from pm_viewpager where state <![CDATA[!= ]]> 1 
	</select>
	
	<!-- 添加轮播图 -->
	<insert id="andViewpager">
		insert into pm_viewpager(name,imgUrl,positionSummary,createBy,createTime) values(
			#{name},
			#{imgUrl},
			#{positionSummary},
			#{createBy},
			#{createTime}
		)
	</insert>
	
	<!-- 查询轮播图 by search -->
	<select id="selectViewpagerBySeach" resultMap="VRM">
		select *  from pm_viewpager where state  <![CDATA[!= ]]> 1 
			<if test="time!=null and time!=''">
				and DATE_FORMAT(createTime,'%Y-%m-%d') = #{time} 
			</if>
			<if test="content!=null and content !=''">
				and name like CONCAT('%',#{content},'%')  or createBy like
			CONCAT('%',#{content},'%')
			</if>
	</select>
	
		<!-- 删除轮播图-->
	<delete id="deleteViewpager">
		DELETE from pm_viewpager where ID in(
		<foreach collection="ids" item="id" separator=",">
			#{id}
		</foreach>
		)
	</delete>
	<!-- 轮播图详情 -->
	<select id="selectViewpagerByID" resultMap="VRM">
		select * from pm_viewpager where ID = #{ID} and state <![CDATA[!= ]]> 1 
	</select>
	
</mapper>