<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workPlatfrom.mapper.WorkPlanManageMapper">

	<resultMap type="MyWorkPlan" id="MWPRM" autoMapping="true">
		<id column="ID" property="ID" />
		<association property="user" javaType="User">
			<id column="u_id" property="ID"/>
			<result column="username" property="username"/>
		</association>
	</resultMap>

	<!-- 查询所有 -->
	<select id="selectMyWorkPlanAll" resultMap="MWPRM">
		SELECT * FROM pm_myWorkPlan pm
        	LEFT JOIN (SELECT ID u_id,username FROM user) user on user.u_id = pm.verifierId
        WHERE state <![CDATA[= ]]> 0 and pm.userId = #{id}
	</select>

	<!-- 添加公告 -->
	<insert id="andMyWorkPlan">
		insert into
		pm_myWorkPlan(name,userId,verifierId,createBy,createTime) values(
		#{name},
		#{userId},
		#{user.ID},
		#{createBy},
		#{createTime}
		)
	</insert>

	<!-- 搜索查询 -->
	<select id="selectMyWorkPlanBySearch" resultMap="MWPRM">
		select * from pm_myWorkPlan pm 
			LEFT JOIN (SELECT ID u_id,username FROM user) user on pm.verifierId = user.u_id
		 where pm.userId = #{userId} and pm.state <![CDATA[= ]]> 0 
		<if test="verifierId!=null and verifierId!=''">
			 and pm.verifierId = #{verifierId} 
		</if>
		<if test="startTime!=null and startTime!=''">
			and DATE_FORMAT(pm.startTime,'%Y-%m-%d') <![CDATA[>= ]]> #{startTime}
		</if>
		<if test="endTime!=null and endTime!=''">
			and DATE_FORMAT(pm.endTime,'%Y-%m-%d') <![CDATA[<= ]]> #{endTime}
		</if>
		<if test="finishjob!=null and finishjob!=''">
			and pm.finishjob = #{finishjob}
		</if>
		<if test="name!=null and name!=''">
			and pm.name like CONCAT('%',#{name},'%') 
		</if>
		
	</select>

	<!-- 伪删除 -->
	<update id="deleteMyWorkPlan">
		update pm_myWorkPlan set state = 1 where ID in(
		<foreach collection="ids" item="id" separator=",">
			#{id}
		</foreach>
		)
	</update>

	<select id="selectMyWorkPlanByID" resultMap="MWPRM">
		select * from pm_myWorkPlan pm 
		 left join (select ID u_id,username from user)user on pm.verifierId = user.u_id where pm.ID = #{id}
	</select>

	<!-- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝部门工作计划============================================ -->
	<resultMap type="DepartmentalWorkPlan" id="DWPRM" autoMapping="true">
		<id column="ID" property="ID" />
	</resultMap>
	<!-- 查询所有 -->
	<select id="selectDepartmentalWorkPlanAll" resultMap="DWPRM">
		SELECT * FROM pm_departmentalworkplan 
        WHERE state <![CDATA[!= ]]> 1
	</select>

	<!-- 添加公告 -->
	<insert id="andDepartmentalWorkPlan">
		insert into
		pm_departmentalworkplan(name,executorId,verifierId,departmentalId,createBy,createTime) values(
		#{name},
		#{executorId},
		#{verifierId},
		#{departmentalId},
		#{createBy},
		#{createTime}
		)
	</insert>

	<!-- 搜索查询 -->
	<select id="selectDepartmentalWorkPlanBySearch" resultMap="DWPRM">
		select * from pm_departmentalworkplan 
		 WHERE state <![CDATA[!= ]]> 1 
		 <if test="departmentalId!=null and departmentalId!=''">
			and departmentalId = #{departmentalId}
		</if>
		<if test="executorId!=null and executorId!=''">
			and executorId = #{executorId} 
		</if>
		<if test="verifierId!=null and verifierId!=''">
			 and verifierId = #{verifierId} 
		</if>
		<if test="startTime!=null and startTime!=''">
			and DATE_FORMAT(startTime,'%Y-%m-%d') <![CDATA[>= ]]> #{startTime}
		</if>
		<if test="endTime!=null and endTime!=''">
			and DATE_FORMAT(endTime,'%Y-%m-%d') <![CDATA[<= ]]> #{endTime}
		</if>
		<if test="finishjob!=null and finishjob!=''">
			and finishjob = #{finishjob}
		</if>
		<if test="name!=null and name!=''">
			and name like CONCAT('%',#{name},'%') 
		</if>
		
	</select>

	<!-- 伪删除 -->
	<update id="deleteDepartmentalWorkPlan">
		update pm_departmentalworkplan set state = 1 where ID in(
		<foreach collection="ids" item="id" separator=",">
			#{id}
		</foreach>
		)
	</update>

	<!-- 根据id查询部门工作计划 -->
	<select id="selectDepartmentalWorkPlanByID" resultMap="DWPRM">
		select * from pm_departmentalworkplan where ID = #{id}
	</select>
	
	<!-- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝我安排的工作============================================ -->
	<resultMap type="MyArrangedWork" id="MWRM" autoMapping="true">
		<id column="ID" property="ID" />
	</resultMap>
	<!-- 查询所有 -->
	<select id="selectMyArrangedWorkAll" resultMap="MWRM">
		select *  from pm_myArrangedWork where state <![CDATA[!=]]> 1 and userId = #{userId}
	</select>

	<!-- 添加公告 -->
	<insert id="andMyArrangedWork">
		insert into
		pm_myArrangedWork(name,executorId,verifierId,userId,createBy,createTime) values(
		#{name},
		#{executorId},
		#{verifierId},
		#{userId},
		#{createBy},
		#{createTime}
		)
	</insert>

	<!-- 搜索查询 -->
	<select id="selectMyArrangedWorkBySearch" resultMap="MWRM">
		select * from pm_myArrangedWork 
		 WHERE state <![CDATA[!=]]> 1 
		<if test="executorId!=null and executorId!=''">
			and executorId = #{executorId} 
		</if>
		<if test="startTime!=null and startTime!=''">
			and DATE_FORMAT(startTime,'%Y-%m-%d') <![CDATA[>= ]]> #{startTime}
		</if>
		<if test="endTime!=null and endTime!=''">
			and DATE_FORMAT(endTime,'%Y-%m-%d') <![CDATA[<= ]]> #{endTime}
		</if>
		<if test="finishjob!=null and finishjob!=''">
			and finishjob = #{finishjob}
		</if>
		<if test="name!=null and name!=''">
			and name like CONCAT('%',#{name},'%') 
		</if>
		
	</select>

	<!-- 伪删除 -->
	<update id="deleteMyArrangedWork">
		update pm_myArrangedWork set state = 1 where ID in(
		<foreach collection="ids" item="id" separator=",">
			#{id}
		</foreach>
		)
	</update>

	<!-- 根据id查询部门工作计划 -->
	<select id="selectMyArrangedWorkByID" resultMap="MWRM">
		select * from pm_myArrangedWork where ID = #{id}
	</select>
	
</mapper>